
#banner{
    overflow:hidden;
    color: #fff;
    font-weight: 600;
    & a{
        color:#fff;
        text-decoration:none;
    }   
    .content{
        margin-right:auto;
        margin-left:auto;
        //text-align:center;
        .banner{
            &-header {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                width:auto;
                @include mq('xs'){
                    top: -450px;
                }
                @include mq('s'){
                    top: -450px;
                }
                @include mq('m'){
                    top: -450px;
                    padding-left:15px;
                    margin-left:27px;
                    justify-content: flex-start;
                }
                @include mq('l'){
                    top: -450px;
                    padding-left:15px;
                    margin-left:134px;
                    justify-content: flex-start;
                }
            }
            &-paragraph {
                margin-bottom: .375rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 600;
                position: relative;
                top: 200px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 4;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                width:auto;
                @include mq('xs'){
                    top: -440px;
                }
                @include mq('s'){
                    top: -440px;
                }
                @include mq('m'){
                    top: -440px;
                    padding-left:15px;
                    margin-left:27px;
                    justify-content: flex-start;
                }
                @include mq('l'){
                    top: -440px;
                    padding-left:15px;
                    margin-left:134px;
                    justify-content: flex-start;
                }
            }
        }
        .slick{
            &-dots{
                display:flex;
                justify-content:center;
                overflow:hidden;
                padding-bottom:50px;
                li{
                    & button:before{
                        color:white;
                        padding-top:3px;
                        font-size:.75rem;
                    }
                    &.slick-active{
                        & button:before{
                            display:flex;
                            padding-top:.0675rem;
                            border:solid 2.95px white;
                            border-radius:50%;
                            color:white;
                            justify-content:center;
                        }
                    }
                }
            }
        }
    }
}
.content{
    position:relative;
    height:550px;
    z-index:0;
    .img-banner{
        display:flex;
        position:relative;
        margin-left:auto;
        margin-right:auto;
        justify-content:center;
        width:100%;
        min-height:550px;
        height:100%;
        @include mq('m'){
            height:550px;
        }
        @include mq('l'){
            height:550px;
        }
        &.one{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-YLei.png'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.two{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-O67Y.jpg'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.three{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-gay8.png'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.four{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-6yTp.png'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.five{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-J8Xx.png'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.six{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-K0pn.jpg'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
        &.seven{
            margin-top:-1px;
            background-image: url('../assets/images/Banner/home-MSxH.png'), linear-gradient(270deg,transparent 25%,#000);
            background-blend-mode:overlay;
            background-size: cover;
            background-position: center;
        }
    }
    .btn{
        max-width:250px;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        
        &-web{
            background-color:#926fb1;  
            height:50px;
            padding: 5px 20px;
            font-size: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            position: relative;
            top: -375px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align:center;
            @include mq('m'){
                margin-left: 42px;
                justify-content: flex-start;
            }
            @include mq('l'){
                margin-left: 150px;
                justify-content: flex-start;
            }
        }
    }
}