
#banner{
    overflow:hidden;
    color: #fff;
    font-weight: 600;
    & a{
        color:#fff;
        text-decoration:none;
    }   
    .content{
        margin-right:auto;
        margin-left:auto;
        //text-align:center;
        .banner{
            &-header {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                width:auto;
                @include mq('xs'){
                    top: -460px;
                }
                @include mq('s'){
                    top: -460px;
                }
                @include mq('m'){
                    top: -460px;
                }
            }
            &-paragraph {
                margin-bottom: .375rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
                font-weight: 600;
                position: relative;
                top: 200px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 4;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                overflow: hidden;
                width:auto;
                @include mq('xs'){
                    top: -440px;
                }
                @include mq('s'){
                    top: -440px;
                }
                @include mq('m'){
                    top: -440px;
                }
            }
        }
        .slick{
            &-dots{
                padding-bottom:200px;
                display:flex;
                justify-content:center;
                overflow:hidden;
                li{
                    & button:before{
                        color:white;
                        padding-top:3px;
                    }
                    &.slick-active{
                        & button:before{
                            padding-top:.04rem;
                            font-size:.75rem;
                            border:solid 3px white;
                            border-radius:50%;
                            color:white;
                        }
                    }
                }
            }
        }
    }
}
.content{
    position:relative;
    .img-banner{
        position:relative;
        display:flex;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        min-height:500px;
        height:75vh;
    }
    .btn{
        max-width:250px;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        &-web{
            background-color:#926fb1;  
            height:50px;
            padding: 5px 20px;
            font-size: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
            position: relative;
            top: -250px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align:center;
        }
    }
}