.clients-banner{
    padding:50px 0;
    overflow-x:clip;
    & .client{
        //overflow-y:visible;
        &:hover{
            .description{
                display:block;
            }
        }
        display:flex;
        margin-left:50px;
        justify-content:center;
        &>.client-image{
            display:flex;
            flex-direction:column;
            justify-content:center;
            height:70px;
            &>img{
                max-height: 70px;
                max-width:200px;
                filter:grayscale(1);
                padding:0 20px;
                &:hover{
                    filter:grayscale(0);
                }
            }
        }
    }
    .description{
        display:none;
        position:absolute;
        bottom:100%;
        & .box{
            background-color:#333645;
            color:#fff;
            padding:20px;
            font-size:.875rem;
            max-width:280px;
            width:280px;
            margin:0 100px 50px;
            text-align: center;
            & .btn{
                margin-top:11px;
            }
            & h3{
                position:relative;
                font-size:1.125rem;
                color:#fff;
                padding-bottom:17px;
                margin:0;
            }
            & p{
                font-size:.8125rem;
                line-height:1.375rem;
                margin-bottom:0;
                margin-top:0;
                & a{
                    font-weight:600;
                    color:#fff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            & .arrow{
                position:absolute;
                left:50%;
                bottom:13px;
                margin-left:-36px;
                &::after{
                    content:"";
                    margin:auto;
                    display:inline-block;
                    border-color:#333645 transparent transparent;
                    border-style:solid;
                    border-width:35px 36px 0;
                }
            }
            &-no-description{
                &>p{
                    display:none;
                }
                &>h3{
                    padding:0;
                }
            }
        }
    }

    .clients-container{
        overflow-x:clip;
    }

    .slick-track{
        display:flex;
        align-items:center;
    }
    .slick-list{
        overflow:visible;
    }
}