#cookie-consent{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:15;
    background-color:rgba(0,0,0,.7);
    display:flex;
    outline:0;
    overflow-x:hidden;
    overflow-y:auto;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:30px;
    .modal-dialogue{
        margin:auto;
    }
}

.modal{
    &-content{
        position:relative;
        background-color:white;
        border:1px solid rgba(0,0,0,.2);
        border-radius:5px;
        box-shadow:0 3px 9px rgba(0,0,0,.5);
        background-clip:padding-box;
        outline:none;
    }
    &-header{
        padding:15px 20px;
        border-bottom:1px solid #e5e5e5;
        min-height:pxtorem(16.42857143);
    }
    &-title{
        margin:0;
        line-height:1.42857143;
        font-weight: 400;
    }
    &-body{
        position:relative;
        padding:20px;
        a{
            color:#333645;

        }
    }
    &-footer{
        .row{
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            margin:0 15px;
            &>*{
                flex:0 0 auto;
                max-width:100%;
            }
        }
    }
    &-spacer{
        position:relative;
        min-height:1px;
        padding-left:15px;
        padding-right:15px;
    }
}