#cookie-consent{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:15;
    background-color:rgba(0,0,0,.7);
    display:flex;
    outline:0;
    overflow-x:hidden;
    overflow-y:auto;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:30px;
    .modal-dialogue{
        @include mq('s'){
            width:600px;
        }
        @include mq('m'){
            width:600px;
        }
        @include mq('l'){
            width:600px;
        }
        margin:auto;
    }
}

.modal{
    &-content{
        position:relative;
        background-color:white;
        border:1px solid rgba(0,0,0,.2);
        border-radius:5px;
        box-shadow:0 3px 9px rgba(0,0,0,.5);
        background-clip:padding-box;
        outline:none;
    }
    &-header{
        padding:15px 20px;
        border-bottom:1px solid #e5e5e5;
        min-height:pxtorem(16.42857143);
    }
    &-title{
        margin:0;
        line-height:1.42857143;
        font-weight: 400;
    }
    &-body{
        position:relative;
        padding:20px;
        &>p{
            line-height:1.875rem;
            margin-bottom:25px;
            margin-top:0;
        }
        a{
            color:#333645;

        }
    }
    &-footer{
        .row{
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            margin:0 5px;
            padding:20px 0;
            text-align:right;
            border-top:1px solid #e5e5e5;
            &>*{
                flex:0 0 auto;
                max-width:100%;
                @include mq('s'){
                    width:50%;
                }
                @include mq('m'){
                    width:50%;
                }
            }
        }
    }
    &-spacer{
        position:relative;
        min-height:1px;
        padding-left:15px;
        padding-right:15px;
        width:100%;
        &--top{
            @include mq('s'){
                margin-bottom:0;
            }
            @include mq('m'){
                margin-bottom:0;
            }
            margin-bottom:30px;
        }
    }
    .btn{
        height:auto;
        line-height:35px;
        padding:5px 15px;
        text-transform:uppercase;
        font-size:1.063rem;
        border-radius:3px;
        white-space: normal;
        &-change-settings{
            display:block;
            width:100%;
            color:white;
            background-color:#999aa2;
            border-color:#999aa2;
        }
        &-accept-cookies{
            display:block;
            width:100%;
            color:white;
            background-color:#926fb1;
            border-color:#926fb1;
        }
    }
}