//============================================
//FOOTER LAYOUT
//============================================
footer{
    // background-color:$tuna;
    color:#fff;
    // padding:30px 0 0;
    position:relative;
    margin-top:auto;
    text-align: center;
    text-decoration: none;
    padding: 12px 22px 16px;
    background-color: $tuna;
    width:auto;
    @include mq('xs'){
        padding:28px 0 0;
        overflow:hidden;
    }
    @include mq('s'){
        padding:28px 0 0;
    }
    @include mq('m'){
        padding:28px 0 0;
    }
    @include mq('l'){
        padding:47px 0 0;
    }
    h4{
        color:white;
        text-transform:uppercase;
        font-size:1rem;
        margin-bottom:26px;
    }
    .footer-row{
        display:flex;
        flex-wrap:wrap;
        //justify-content:space-between;
        text-align:left;
        position:relative;
        flex-direction:column;
        @include mq('l'){
            flex-direction:row;
            //justify-content:center;
        }
        .row{
            display:flex;
            flex-wrap: wrap;
            position:relative;
            margin-left: -15px;
            margin-right: -15px;
            @include mq('xs'){
                margin:0;
            }
            &:before{
                content:"";
                display:table;
            }
            &>*{
                flex:0 0 auto;
                max-width:100%;
                width:200px;
                padding-left:15px;
                padding-right:15px;
            }
        }
        .footer-menu{
            flex:100%;
            margin-bottom:30px;
            position:relative;
            @include mq('xs'){
                padding:0;
            }
            @include mq('xs'){
                width:100vw;
            }
            @include mq('s'){
                flex:50%;
            }
            @include mq('m'){
                flex:25%;
            }
            @include mq('l'){
                margin-bottom:40px;
                flex-direction:row;
            }
            h4{
                text-transform:uppercase;
                font-size:1rem;
                margin-bottom:26px;
                margin-top:0;
                font-weight:400;
            }
            ul li{
                line-height:px-to-rem(22);
                font-size:px-to-rem(13);
                & a{
                    &:link{
                        text-decoration:none;
                        color:#fff;
                    }
                    &:hover{
                        text-decoration:underline;
                    }
                    &:visited{
                        color:#fff;
                    }
                }
            }
        }
        .footer-company-info{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            width:auto;
            @include mq('l'){
                width:400px;
            }
            .footer-logo{
                &-img{
                    width:320px;
                    @include mq('xs'){
                        width:250px;
                        padding-bottom:24px;
                    }
                }
            }
            h4{
                font-weight:400;
                margin-top:24px
            }
        }
        .footer-social-logos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 30px;
            & a{
                display:flex;
                justify-content:center;
                text-decoration:none;
                font-size:px-to-rem(26);
                line-height:px-to-rem(26);
                @include mq('xs'){
                    width:70px;
                }
                @media only screen and (max-width: 480px){
                    width:35%;
                }
            }
            @include mq('xs'){
                width:100vw;
                padding-right:70px;
            }
        }
        .instagram:hover{
            background-color:#d93175;
        }
        .twitter:hover{
            background-color:#00aced;
        }
        .linkedin:hover{
            background-color:#0077b5;
        }
        .facebook:hover{
            background-color:#3b5998;
        }
        .btn{
            text-align: center;
            text-decoration: none;
            font-size: 26px;
            line-height: 26px;
            padding: 12px 22px 16px;
            background-color: #212330;
            margin-right: 10px;
            margin-bottom:10px;
            &-primary{
                @include mq('xs'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 42px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('s'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('m'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('l'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 7px;
                }
            }
        }
        .icon{
            &-facebook, 
            &-instagram, 
            &-linkedin2, 
            &-twitter{
                font-size:px-to-rem(26);
            }
        }

    }

}

.footer-bottom{
    display:flex;
    flex-direction:row;
    font-size:px-to-rem(13);
    background-color:#212330;
    color:#fff;
    padding-top:7px;
    width:100%;
    justify-content:space-between;
    //height:45px;
    @include mq('xs'){
        display:block;
    }
    & .container{
        display:flex;
        flex-direction:row;
        & .license{
            display:flex;
            flex-direction:row;
            align-self:flex-start;
            padding:10px 0 10px;
            @include mq('xs'){
                display:block;
            }
        }

        & .hyphen:before{
            content:'-';
            margin-right:5px;
            @include mq('xs'){
                display:none;
                padding:0;
                margin:0;
            }
        }

        & .copy-small{
            @include mq('xs'){
                display:block;
            }
            @include mq('s'){
                display:none;
            }
            @include mq('m'){
                display:none;
            }
            @include mq('l'){
                display:none;
            }
        }

        & .license > ul{
            display:flex;
            flex-direction:row;
            flex-wrap:nowrap;
            text-decoration:none;
            color:#fff;
            margin-left:10px;
            @include mq('xs'){
                display:block;
                margin:0;
            }
            & li a{
                text-decoration:none;
                color:#fff;
            }
        }
    }
}
