//============================================
//FOOTER LAYOUT
//============================================
footer{
    // background-color:$tuna;
    color:#fff;
    // padding:30px 0 0;
    position:relative;
    margin-top:auto;
    text-align: center;
    text-decoration: none;
    padding: 12px 22px 16px;
    background-color: $tuna;
    width:auto;
    @include mq('xs'){
        padding:28px 0 0;
        overflow:hidden;
    }
    @include mq('s'){
        padding:28px 0 0;
    }
    @include mq('m'){
        padding:28px 0 0;
    }
    @include mq('l'){
        padding:47px 0 0;
    }
    .footer-row{
        display:flex;
        flex-wrap:wrap;
        align-content:left;
        justify-content:space-between;
        text-align:left;
        position:relative;
        flex-direction:column;
        @include mq('l'){
            flex-direction:row;
        }
        .row{
            display:flex;
            flex-wrap: wrap;
            position:relative;
            margin-left: -15px;
            margin-right: -15px;
            &:before{
                content:"";
                display:table;
            }
            &>*{
                flex:0 0 auto;
                max-width:100%;
                padding-left:14px;
                padding-right:14px;
            }
        }
        .footer-menu{
            flex:100%;
            margin-bottom:30px;
            position:relative;
            // @include mq('xs'){
            //     padding:0;
            //     margin:0;
            // }
            @include mq('xs'){
                width:100vw;
            }
            @include mq('s'){
                flex:50%;
            }
            @include mq('m'){
                flex:25%;
            }
            @include mq('l'){
                margin-bottom:40px;
                flex-direction:row;
            }
            h4{
                text-transform:uppercase;
                font-size:1rem;
                margin-bottom:26px;
                margin-top:0;
                font-weight:400;
            }
            ul li a{
                font-size:px-to-rem(13);
                &:link{
                    text-decoration:none;
                    color:#fff;
                }
                &:hover{
                    text-decoration:underline;
                }
                &:visited{
                    color:#fff;
                }
            }
        }
        .footer-company-info{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            width:auto;
            .footer-logo{
                &-img{
                    width:320px;
                }
            }
            h4{
                font-weight:400;
            }
        }
        .footer-social-logos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 30px;
            @include mq('xs'){
                width:100vw;
            }
        }
        .instagram:hover{
            background-color:#d93175;
        }
        .twitter:hover{
            background-color:#00aced;
        }
        .linkedin:hover{
            background-color:#0077b5;
        }
        .facebook:hover{
            background-color:#3b5998;
        }
        .btn{
            text-align: center;
            text-decoration: none;
            font-size: 26px;
            line-height: 26px;
            padding: 12px 22px 16px;
            background-color: #212330;
            margin-right: 10px;
            margin-bottom:10px;
            &-primary{
                @include mq('xs'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('s'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('m'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 10px;
                    margin-bottom:10px;
                }
                @include mq('l'){
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    background-color: #212330;
                    color:white;
                    margin-right: 7px;
                }
            }
        }
        .icon{
            &-facebook, 
            &-instagram, 
            &-linkedin2, 
            &-twitter{
                font-size:px-to-rem(26);
            }
        }

    }

}

