#middle{
    background-color:white;
    .breadcrumb-container{
        border-top:1px solid #333645;
        box-shadow:0 5px 35px rgba(0,0,0,.1);
        padding:16px 0 15px;
        & .breadcrumb{
            background:none;
            color:#333645;
            font-size:.8125rem;
            margin:0;
            padding:0;
            & a{
                font-weight:700;
                &:hover{
                    text-decoration:underline;
                }
            }
            &>li{
                color:#333645;
                display:inline-block;
                &+li:before{
                    content:"/\A0";
                    padding:0 5px;
                }
            }
        }
    }
    .section{
        padding-top:50px;
        padding-bottom:50px;
        &.bottom{
            padding-top:0;
            .row{
                display:flex;
                flex-wrap:wrap;
                margin:0 -15px;
                &>*{
                    flex:0 0 auto;
                    max-width:100%;
                }
                [class*=form-]{
                    width:100%;
                }
                .form{
                    &-control{
                        height:47px;
                        padding:5px 15px;
                        border-color:#ccc;
                        background-color:#fff;
                        background-image:none;
                        border:1px solid #e5e5e5;
                        border-radius:2px;
                        box-shadow:0 1px 1px rgba(0,0,0,.075);
                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                        &#message{
                            min-height:100px;
                            height:100px;
                            resize:vertical;
                            max-height:500px;
                            font-family:'Poppins', sans-serif;
                        }
                        &:focus{
                            border-color:#5bc0de;
                            outline:0;
                            box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(91,192,222,.6);
                        }
                    }
                    &-details{
                        position:relative;
                        min-height:1px;
                        padding:0 15px;
                        @include mq('l'){
                            left:66.66666667%;
                            width:33.3333333%;
                        }
                        &-container{
                            p{
                                line-height:1.875rem;
                                margin-top:0;
                                margin-bottom:25px;
                            }
                            & strong:not(.btn){
                                font-weight:600;
                                color:#333645;
                            }
                            & .h3{
                                font-weight:600;
                                color:#926fb1;
                                font-size:1.625rem;
                            }
                            .sub-container{
                                padding:0;
                                width:auto;
                            }
                            .question{
                                a:hover{
                                    text-decoration:underline;
                                }
                                & a:not(.btn){
                                    font-weight:600;
                                    color: #333645;
                                }
                                h4{
                                    font-size:1rem;
                                    font-weight:400;
                                    margin:0 0 15px 0;
                                    color:#333645;
                                }
                                & .initiallyHidden{
                                    display:none;
                                }
                            }
                        }
                    }
                    &-content{
                        position:relative;
                        min-height:1px;
                        padding:0 15px;
                        @include mq('l'){
                            width:66.6666667%;
                            right:33.3333333%;
                        }
                        #contact-form{
                            background-color:#e6e7e9;
                            border-radius:10px;
                            padding:30px;
                            .action-block{
                                display:flex;
                                align-items:center;
                                justify-content:space-between;
                                .helper-text{
                                    color:#333645;
                                    font-size:85%;
                                    .text-danger{
                                        color:#a94442;
                                    }
                                }
                                .btn{
                                    height: auto;
                                    line-height: 35px;
                                    padding: 5px 15px;
                                    text-transform: uppercase;
                                    font-size: 1.063rem;
                                    border-radius: 3px;
                                    white-space: normal;
                                }
                                .btn-form{
                                    color: #fff;
                                    background-color: #333645;
                                    border-color: #333645;
                                }
                            }
                            .recaptcha-terms{
                                color:#333645;
                                font-size:11px;
                                font-weight:600;
                                margin-bottom:30px;
                                margin-top:-10px;
                                & a{
                                    text-decoration:underline;
                                }
                            }
                        }
                        &-field{
                            position:relative;
                            min-height:1px;
                            padding:0 15px;
                            @include mq('m'){
                                width:50%;
                            }
                            @include mq('l'){
                                width:50%;
                            }
                            &--group{
                                margin-bottom:15px;
                                .media{
                                    zoom:1;
                                    overflow:hidden;
                                    &:first-child{
                                        margin-top:0;
                                    }
                                    .checkbox-left{
                                        padding-right:0;
                                    }
                                    &-left{
                                        display:table-cell;
                                        vertical-align:top;
                                    }
                                    &-body{
                                        display:table-cell;
                                        vertical-align:top;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .top{
        padding-bottom:0;
    }

    .page-head:not(.bottom){
        margin-bottom:50px;
    }
    .page-head{
        margin-top:-50px;
        padding:23px 0;
        @include mq('xs'){
            background-color:#333645;
        }
        @include mq('s'){
            background-color:#333645;
        }
        @include mq('m'){
            background-color: rgba(0,0,0,0);
            padding:0;
            margin:0;
        }
        @include mq('l'){
            background-color: rgba(0,0,0,0);
            padding:0;
            margin:0;
        }
        .container{
            & h1{
                color:#fff;
                max-width:750px;
                margin:0;
                font-size:2.25rem;
                font-weight:400;
                @include mq('m'){
                    color:#333645;
                    margin:0 0 28px;
                }
                @include mq('l'){
                    color:#333645;
                    margin:0 0 28px;
                }
            }
        }
    }

    .office-addresses{
        margin-bottom:40px;
        .service-list{
            margin-top:20px;
            .row{
                margin:0 -15px;
                &>*{
                    max-width:100%;
                }
            }
            .block{
                display:flex;
                flex-direction:column;
                border-radius:20px;
                overflow:hidden;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding:0;
                width:100%;
                text-decoration:none;
                margin-top:30px;
                text-align:center;
                position:relative;
                top:0;
                .image{
                    img{
                        max-width:100%;
                    }
                    .img-full{
                        width:100%;
                        height:auto;
                    }
                }
                [class*=address-content-]{
                    display:flex;
                    flex-direction:column;
                    padding:30px;
                    text-align:left;
                    height:100%;
                }
            }
        }
        &-row{
            display:block;
        }
        .address-content{
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            margin-bottom:30px;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            @include mq('m'){
                display:flex;
                flex-direction:row;
                width:33.33333333%;
                float:left;
            }
            @include mq('l'){
                display:flex;
                flex-direction:row;
                width:33.33333333%;
                float:left;
            }
            .h2{
                font-size:1.25rem;
                position:relative;
                margin-bottom:15px;
                margin-top:0;
                & a{
                    font-weight:400;
                }
            }
            .p{
                font-size:.8125rem;
                line-height:1.375rem;
                font-weight:400;
                margin-bottom:15px;
                margin-top:0;
            }
            .tel{
                margin-top:auto;
                //margin-bottom:15px;
                & a{
                    font-weight:700;
                    font-size:1.625rem;
                    color:#926fb1;
                }
            }
            .view-more{
                & a{
                    margin-top:15px;
                    font-size:.9em;
                    padding:5px 30px;
                }
            }
        }
    }
}