#middle{
    .service{
        &-block{
            padding-bottom:50px;
            & .row{
                padding-bottom:0;
            }
        }
        &-grid{
            // display:grid;
            margin-bottom:50px;
            .service-flex{
                @include mq('m'){
                    display:flex;
                    width:auto;
                    margin-left:auto;
                    margin-right:auto;
                    justify-content: space-between;
                    padding-left:10.5px;
                    padding-right:10.5px;
                }
            }
            .container-lower{
                @include mq('l'){display:flex;}
            }
            & .service-content{
                &-upper{
                    display:grid;
                    // padding-left:27px;
                    // padding-right:15px;
                    grid-template-rows:[row1-start] 100% [row1-end] auto;
                    @include mq('s'){
                        justify-content:center;
                        padding:0 15px;
                        grid-template-columns: 720px;
                        grid-template-rows:[row1-start] 100% [row1-end] auto;
                    }
                    @include mq('m'){
                        display:inline-flex;
                        width:32%;
                        padding:0;
                        //margin-left:10px;
                    }
                    & .block{
                        margin-top:30px;
                        border-radius:15px;
                        text-align:center;
                        position:relative;
                        top:0;
                        transition:.5s ease;
                        overflow:hidden;
                        &>span{
                            display:block;
                            &.service-content{
                                &-title{
                                    font-size:px-to-rem(20.8);
                                    padding-bottom:10px;
                                    margin:0 0 11px;
                                    position:relative;
                                    color:#333645;
                                }
                                &-description{
                                    font-size:px-to-rem(14);
                                    font-weight:400;
                                    line-height:px-to-rem(20);
                                    margin-bottom:13px;
                                }
                            }
                        }
                        &.software>span.icon{
                            background-color:#67809f;
                        }
                        &.it>span.icon{
                            background-color:#4183d7;
                        }
                        &.digital>span.icon{
                            background-color: #2ecc2e;
                        }
                        &>span.icon{
                            display:block;
                            height:65px;
                            width:65px;
                            margin:0 auto 17px;
                            color:#fff;
                            border-radius:50%;
                            span{
                                font-size:px-to-rem(32);
                                line-height:62px;
                            }
                        }
                    }
                }

                &-lower{
                    display:grid;
                    width:100%;
                    // padding-left:15px;
                    // padding-right:15px;
                    grid-template-rows:[row1-start] 100% [row1-end] auto;
                    @media only screen and (min-width:759px){
                        display:inline-flex;
                        flex-direction:row;
                        flex-wrap:wrap;
                        max-width:47.7%;
                        justify-content: center;
                        //margin-left:1.65%;
                        // grid-template-columns: 340px;
                        // grid-template-rows:[row1-start] 320px [row1-end] auto;
                    }
                    @media only screen and (min-width:992px){
                        display:inline-flex;
                        flex-direction:row;
                        flex-wrap:wrap;
                        max-width:46.8%;
                        justify-content: center;
                        margin-left:1.2%;
                        padding-right:5px;
                        // grid-template-columns: 340px;
                        // grid-template-rows:[row1-start] 320px [row1-end] auto;
                    }
                    @include mq('l'){
                        display:flex;
                        max-width:268.7px;
                    }
                    & .block{
                        margin-top:30px;
                        border-radius:15px;
                        text-align:center;
                        position:relative;
                        top:0;
                        transition:.5s ease;
                        overflow:hidden;
                        @include mq('s'){
                            &.security{
                                padding-bottom:50px;
                                max-width:715px;
                            }
                        }
                        @include mq('m'){
                            &.dev-training{
                                padding-bottom:50px;
                            }
                        }
                        &>span{
                            display:block;
                            &.service-content{
                                &-title{
                                    font-size:px-to-rem(20.8);
                                    padding-bottom:10px;
                                    margin:0 0 11px;
                                    position:relative;
                                    color:#333645;
                                }
                                &-description{
                                    font-size:px-to-rem(14);
                                    font-weight:400;
                                    line-height:px-to-rem(20);
                                    margin-bottom:13px;
                                }
                            }
                        }
                        &.telecoms>span.icon{
                            background-color:#d64541;
                        }
                        &.web>span.icon{
                            background-color:#926fb1;
                        }
                        &.security>span.icon{
                            background-color: #f62459;
                        }
                        &.dev-training>span.icon{
                            background-color:#ce4125;
                        }
                        &>span.icon{
                            display:block;
                            height:65px;
                            width:65px;
                            margin:0 auto 17px;
                            color:#fff;
                            border-radius:50%;
                            span{
                                font-size:px-to-rem(32);
                                line-height:62px;
                            }
                        }
                    }
                }
            }
        }
        &-view{
            margin:-20px auto -70px;
            text-align:center;
            @include mq('s'){
                margin:-77px auto -70px;
            }
            a{
                font-size:2.25rem;
                font-weight:600;
                color:#333645;
                padding-right:15px;
            }
        }
        &-title{
            width:100%;
            &-header{
                font-size:px-to-rem(44);
                font-weight:400;
                color:#333645;
                overflow:hidden;
                padding-left:15px;
                //margin-left:1.2%;
            }
        }
    }
    .container{
        //padding-bottom:50px;
        overflow:hidden;
        &-lower{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-right:0;
            @include mq('m'){
                padding-right:8px;
            }
            //padding: 0 15px;
            @include mq('xs'){
                padding:0;
            }
        }
    }
    .heading-container{
        display:flex;
        justify-content:space-between;
    }

}