
.welcome{
    &-background{
        background-color:#333645;
        color:#fff;
        .section{
            display:flex;
            flex-wrap:wrap;
            padding-top:50px;
            padding-bottom:50px;
            width:100%;
            justify-content:center;
            .row{
                overflow:hidden;
                display:flex;
                flex:0 0 auto;
                max-width:100%;
                flex-wrap:wrap;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                & strong{
                    font-weight:600;
                    color:white;
                }
                & a{
                    color:#fff;
                }
            }
        }
    }
    &-header-2{
        margin-top:-6px;
        margin-bottom:40px;
        font-size:px-to-rem(36);
        font-weight:400;
        line-height:1.1;
    }
}

p{
    line-height:px-to-rem(30);
    margin-bottom:25px;
}





.client{
    &-header-2{
        margin-top:-6px;
        margin-bottom:40px;
        font-size: px-to-rem(36);
        & strong{
            font-weight:600;
        }
    }
}

.icon-star-full{
    color:orange;
    font-size:50px;
    margin-bottom:25px;
    display:inline;
}

.client{
    &-quote{
        font-weight:600;
        font-size:px-to-rem(20.8);
        font-style:italic;
        margin-bottom:25px;
        &-author{
            font-weight:600;
            color:#a3a8ac;
            font-size:px-to-rem(17.6);
        }
    }
}

//Re-work to not affect other parts of the website
#middle{
    .welcome-background{
        @include mq('xs'){
            .welcome-background{
                & .container{
                    width:auto;
                }
        }
        }
        @include mq('s'){
            .container{
                width:750px;
            }
        }
        @include mq('m'){
            .container{
                width:970px;
            }

            .row{
                & .welcome-content{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                & .clients{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        @include mq('l'){
            .container{
                width:1260px;
            }
            .row{
                width:1260px;
                & .welcome-content{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                & .clients{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}