
.welcome{
    &-background{
        background-color:#333645;
        color:#fff;
        .section{
            display:flex;
            flex-wrap:wrap;
            padding-top:50px;
            padding-bottom:50px;
            width:100%;
            justify-content:center;
            .row{
                display:flex;
                flex:0 0 auto;
                max-width:100%;
                flex-wrap:wrap;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                & strong{
                    font-weight:600;
                    color:white;
                }
                & a{
                    color:#fff;
                }
            }
        }
    }
    &-header-2{
        margin-top:-6px;
        margin-bottom:40px;
        font-size:px-to-rem(36);
        font-weight:400;
        line-height:1.1;
    }
}

p{
    line-height:px-to-rem(30);
    margin-bottom:25px;
}





.client{
    &-header-2{
        margin-top:-6px;
        margin-bottom:40px;
        font-size: px-to-rem(36);
        & strong{
            font-weight:600;
        }
    }
}

.btn{
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;

    &-primary{
        &--inverse-1{
            border-radius:6px;
            padding:10px 30px;
            font-size:20px;
            background-color:#272936;
        }
        &--inverse-2{
            border-radius:6px;
            padding:10px 30px;
            font-size:20px;
            background-color:#272936;
        }
    }
    &-google{
        background-color:#4387f6;
        margin-right:8px;
        border-radius: 6px;
        padding: 10px 30px;
        font-size: 20px;
    }
    &-trustpilot{
        background-color:#00b67b;
        display:inline-flex;
        white-space:nowrap;
        max-width:fit-content;
        border-radius: 6px;
        padding: 10px 30px;
        font-size: 20px;
    }

    @media only screen and (min-width:767px){
        & > em{
            line-height:35px;
            &.pull-right{
                margin-right: -4px;
                margin-left: 12px;
            }
        }
        &-google{
            margin-top:20px;
        }
        &-trustpilot{
            margin-top:20px;
        }
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:50px;
            }
            &--inverse-2{
                margin-bottom:50px;
            }
        }
    }

    @media only screen and (max-width:767px){
        & > em{
            line-height:35px;
            &.pull-right{
                margin-right: -4px;
                margin-left: 12px;
            }
        }
        &-google{
            margin-top:20px;
        }
        &-trustpilot{
            margin-top:20px;
        }
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:50px;
            }
            &--inverse-2{
                margin-bottom:50px;
            }
        }
    }
    
    @media only screen and (max-width:555px){
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:17px;
            }
            &--inverse-2{
                margin-bottom:50px;
            }
        }
    }

    @include mq('s'){
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:50px;
            }
            &--inverse-2{
                margin-bottom:50px;
            }
        }
    }
    
    @include mq('m'){
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:17px;
            }
            &--inverse-2{
                margin-bottom:0px;
            }
        }
    }

    @include mq('l'){
        &-primary{
            &--inverse-1{
                color:white;
                margin-bottom:0px;
            }
            &--inverse-2{
                margin-bottom:0px;
            }
        }
        &-google{
            border:none;
            max-width:45%;
            margin-bottom:auto;
            margin-top:30px;
        }
        &-trustpilot{
            border:none;
            max-width: fit-content;
            margin-bottom:auto;
            margin-top:30px;
        }
    }
}

.icon-star-full{
    color:orange;
    font-size:50px;
    margin-bottom:25px;
    display:inline;
}

.client{
    &-quote{
        font-weight:600;
        font-size:px-to-rem(20.8);
        font-style:italic;
        margin-bottom:25px;
        &-author{
            font-weight:600;
            color:#a3a8ac;
            font-size:px-to-rem(17.6);
        }
    }
}

//Re-work to not affect other parts of the website
#middle{
    .welcome-background{
        @include mq('xs'){
            .welcome-background{
                & .container{
                    width:auto;
                }
        }
        }
        @include mq('s'){
            .container{
                width:750px;
            }
        }
        @include mq('m'){
            .container{
                width:970px;
            }

            .row{
                & .welcome-content{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                & .clients{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        @include mq('l'){
            .container{
                width:1260px;
            }
            .row{
                width:1260px;
                & .welcome-content{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                & .clients{
                    width:50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}