//============================================
//BASE STYLES
//============================================
body{
    margin:0 auto;
    font-family:'Poppins', sans-serif;
    letter-spacing:.4px;
}

*{
    box-sizing:border-box;
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
    @include mq('xs'){
        width:749px;
    }
    @include mq('s'){
        width:750px;
    }

    @include mq('m'){
        width:970px;
    }

    @include mq('l'){
        width:1200px;
    }
}

.filler{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:50vh;
    width:auto;
    background-color:#b00;
}

div{
    display:block;
}