//============================================
//BASE STYLES
//============================================
body{
    margin:0 auto;
    font-family:'Poppins', sans-serif;
    letter-spacing:.4px;
    font-size:1rem;
    color:#666;
    z-index:1;
}

*{
    box-sizing:border-box;
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
    
    // This needs changing as it is not part of the base styling.
    // @include mq('xs'){
    //     width:749px;
    // }
    // @include mq('s'){
    //     width:750px;
    // }

    // @include mq('m'){
    //     width:970px;
    // }

    // @include mq('l'){
    //     width:1200px;
    // }
}

.filler{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:50vh;
    width:auto;
    background-color:#b00;
}

div{
    display:block;
    //overflow:hidden;
}

a{
    text-decoration:none;
    background:transparent;
    color:#333645;
}

label {
    font-weight: 600;
    color: #333645;
}